In [2]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
import pandas as pd
import glob
import pydicom
import numpy as np
import matplotlib.pyplot as plt

In [4]:
PATH = "/home/jeff/notebooks/kaggle/pneumonia/"

### Split the data

In [5]:
train_files = glob.glob('data/train/*.dcm')

In [8]:
len(train_files)

25684

In [9]:
df_labels = pd.read_csv('data/stage_1_train_labels.csv')

In [40]:
N = df_labels.shape[0]
N

28989

In [151]:
validation_indexes = np.random.choice(np.arange(0,N), size=int(N/7))

In [152]:
len(validation_indexes)==int(N/7)

True

In [153]:
np.unique(validation_indexes).shape, int(N/7)

((3852,), 4141)

In [155]:
validation_indexes = np.unique(validation_indexes)

In [156]:
train_indexes = np.asarray([v for v in np.arange(0,N) if v not in validation_indexes])

In [157]:
train_indexes.shape[0]+ validation_indexes.shape[0]

28989

In [158]:
train_indexes

array([    0,     1,     3, ..., 28986, 28987, 28988])

In [159]:
validation_indexes

array([    2,     9,    12, ..., 28968, 28972, 28978])

In [166]:
train_df = pd.DataFrame(np.asarray(df_labels)[train_indexes])

In [164]:
valid_df = pd.DataFrame(np.asarray(df_labels)[validation_indexes])

In [165]:
valid_df.head()

                                      0    1    2    3    4  5
0  00322d4d-1c29-4943-afc9-b6754be640eb  NaN  NaN  NaN  NaN  0
1  00704310-78a8-4b38-8475-49f4573b2dbb  695  575  162  137  1
2  009eb222-eabc-4150-8121-d5a6d06b8ebf  NaN  NaN  NaN  NaN  0
3  00d7c36e-3cdf-4df6-ac03-6c30cdc8e85b  NaN  NaN  NaN  NaN  0
4  01a4059c-22f7-4f51-8a27-50aff0b3aeb3  NaN  NaN  NaN  NaN  0

In [167]:
train_df.head()

                                      0    1    2    3    4  5
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6  NaN  NaN  NaN  NaN  0
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd  NaN  NaN  NaN  NaN  0
2  003d8fa0-6bf1-40ed-b54c-ac657f8495c5  NaN  NaN  NaN  NaN  0
3  00436515-870c-4b36-a041-de91049b9ab4  264  152  213  379  1
4  00436515-870c-4b36-a041-de91049b9ab4  562  152  256  453  1

In [176]:
np.where(df_labels['Target']==0)[0].shape, np.where(df_labels['Target']==1)[0].shape

((20025,), (8964,))

In [178]:
np.where(df_labels['Target']==0)[0].shape[0]/np.where(df_labels['Target']==1)[0].shape[0]

2.2339357429718874

In [174]:
np.where(valid_df[5]==0)[0].shape, np.where(valid_df[5]==1)[0].shape

((2692,), (1160,))

In [179]:
np.where(valid_df[5]==0)[0].shape[0]/ np.where(valid_df[5]==1)[0].shape[0]

2.320689655172414

In [173]:
np.where(train_df[5]==0)[0].shape, np.where(train_df[5]==1)[0].shape

((17333,), (7804,))

### Create Data Loader

### Create Model Architecture

### Train Model

### Create Submission